html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #F76CCC;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

input {
  transition: all 2s;
}

input:focus {
  width: 200px;
  font-size: 24px;
}

.logo {
  width: 80px;
  height: 80px;
}

.holaRosa {
  color: #6CF797;
  font-size: 1.7rem;
  text-align: left;
}

img {
  max-width: 100%;
  width: cover;
  height: 400px;
}

video {
  max-width: 100%;
}

.caja1__historia {
  text-align: center;
  font-size: 3rem;
}

.holaRosa {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.caja1__fotos {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-content: center;
  object-fit: cover;
  justify-content: space-between;
  margin: 3rem;
  padding: 2rem;
}

.caja2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 3rem;
}

.card {
  width: 20%;
  margin: auto;
}

.tarjetas {
  display: flex;
  justify-content: center;
}

.card2 {
  margin: auto;
}

.card3 {
  margin: auto;
}

@media (min-width: 768px) {
  .pie {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    gap: 40px;
    justify-content: center;
    margin: 5px;
  }
}

.pie {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  width: 100%;
  position: relative;
  background-image: linear-gradient(to right, #F76CCC, #6CF797);
}

header {
  display: flex;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
  }
}

.navBar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6CF797;
}

@media (min-width: 768px) {
  .navBar__list {
    flex-direction: row;
    gap: 20px;
    text-align: end;
  }
}

a {
  text-decoration: none;
  font-size: 2.5rem;
  color: #6CF797;
  text-align: right;
}

.logo {
  width: 80px;
  height: 80px;
}

.clienta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

@media (min-width: 768px) {
  .clienta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.clienta:hover {
  transform: scale(1);
}

#carouselExampleControls {
  justify-content: center;
  height: max-content;
  width: max-content;
  align-items: center;
  margin: auto;
  padding-top: 10rem;
}

.carousel-inner {
  justify-content: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mapa {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
  color: aliceblue;
}
