html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #F76CCC !important;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

input {
  transition: all 2s;
}

.logo {
  width: 80px;
  height: 80px;
}

img {
  max-width: 100%;
  width: cover;
  height: 400px;
}

video {
  max-width: 100%;
}

.holaRosa {
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #6CF797;
  font-size: 1.7rem;
  text-align: left;
}

.caja1__fotos {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  justify-content: center;
  margin: 3rem;
  padding: 2rem;
  width: 100% !important;
  text-align: center;
  height: 100% !important;
}

.caja2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 3rem;
}

.card {
  width: 20%;
  margin: auto;
}

.tarjetas {
  display: flex;
  justify-content: center;
}

.card2 {
  margin: auto;
}

.card3 {
  margin: auto;
}

header {
  display: flex;
  background-color: #F76CCC;
}

.navBar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6CF797;
}

a {
  text-decoration: none;
  font-size: 2.5rem;
  color: #6CF797;
  text-align: right;
}

.logo {
  width: 80px;
  height: 80px;
}

.grillaServicios {
  display: grid;
  margin: 50px;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.cards {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr;
  justify-items: center;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0px 2px 7px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.clienta {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

@media (min-width: 768px) {
  .clienta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grillaServicios {
    display: grid;
    margin: 50px;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }

  .lead {
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 3rem;
  }

  .navBar__list {
    flex-direction: row;
    gap: 20px;
    text-align: end;
  }

  header {
    flex-direction: row;
  }

  .grillaServicios {
    display: grid;
    margin: 50px;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }

  .pie {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    gap: 40px;
    justify-content: center;
    margin: 5px;
    position: relative;
    width: 100%;
    bottom: 0;
  }

  .caja1__historia {
    font-size: 4rem;
  }

  .caja2__lugar {
    font-size: 4rem;
  }
}
iframe {
  width: 100%;
  height: 600px;
}

.clienta:hover {
  transform: scale(1);
}

#carouselExampleControls {
  justify-content: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  margin: auto;
  padding-top: 10rem;
}

.carousel-inner {
  justify-content: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 39rem;
}

.mapa {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
}

.container-fluid {
  background-color: #F76CCC;
  text-align: center;
}

.navbar {
  background-color: #F76CCC;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.cuerpo {
  background-color: #F76CCC;
}

.container-fluid {
  color: aqua !important;
}

.grillaServicios {
  font-size: 4rem !important;
}

.clientas {
  text-align: center;
  font-size: 4rem;
  margin: 3rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

.row {
  height: 80%;
  width: 80%;
  align-items: center;
  margin: auto;
}

.contacto {
  text-align: center;
  font-size: 4rem;
  margin: 2rem;
}

.c1 {
  font-size: 3rem;
  margin: 2rem;
  text-align: center;
}

.lead {
  text-align: center;
}

#foto {
  width: 360px;
  height: 640px;
}

p {
  font-family: "Nunito", sans-serif;
}

.piec {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  gap: 40px;
  justify-content: center;
  margin: 5px;
  width: 100%;
  background-image: linear-gradient(to right, #F76CCC, #6CF797);
}

.pie {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  gap: 40px;
  justify-content: center;
  margin: 5px;
  width: 100%;
  background-image: linear-gradient(to right, #F76CCC, #6CF797);
}/*# sourceMappingURL=styles.css.map */